@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-blue: #3887FE;
  --color-lemon: #FFE66D;
  --font-header: 'Inter', var(--font-inter), Arial, Helvetica, sans-serif;
  --font-body: 'Raleway', var(--font-raleway), Arial, Helvetica, sans-serif;
}

.dark {
  --background: #0A1931;
  --foreground: #ffffff;
  --color-blue: #3887FE;
  --color-lemon: #FFE66D;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body);
}
